@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/Arial-Black.woff") format("woff"), url("../fonts/Arial-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/Arial-Bold.woff") format("woff"), url("../fonts/Arial-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/Arial-Reg.woff") format("woff"), url("../fonts/Arial-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Arial";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Arial";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #262626;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.btn {
  display: inline-block;
  background-color: #64CB00;
  border-radius: 25px;
  padding: 12px 30px;
  color: #262626;
}

.btn_bold {
  font-weight: 800;
}

.input {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 14px;
}

.input button,
.input input {
  background: transparent;
}

.input__name {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-weight: 800;
  font-size: 13px;
  margin-right: 10px;
}

.input__input {
  width: 100%;
  border: 0;
  color: #262626;
}

.search__icon {
  width: 20px;
  margin-right: 10px;
}

.search__icon svg,
.search__icon img {
  max-width: 100%;
}

.arrows__arrow {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.8);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 5;
}

.arrows__arrow svg {
  max-width: 100%;
}

.arrows__arrow.slick-disabled {
  opacity: 0;
  pointer-events: none;
}

.arrows__prev {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 13px;
}

.arrows__next {
  right: 13px;
}

.form-login__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

.form-login__file-upload {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin: 0px 20px 0px 0px;
}

.form-login__file-upload svg {
  max-width: 100%;
}

.form-login__file-upload input {
  display: none;
}

.form-login__inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-login__input {
  margin: 0px 0px 10px 0px;
}

.form-login__input::-webkit-input-placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input::-moz-placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input:-ms-input-placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input::-ms-input-placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input::placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input:last-child {
  margin: 0;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: auto;
}

.login__screen {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.login__screen.active {
  left: 0;
}

.login__screen_1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
}

.login__close svg,
.login__close img {
  max-width: 100%;
}

.login__body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__logo {
  width: 70px;
  margin: 0px 0 45px 0;
}

.login__logo img,
.login__logo svg {
  max-width: 100%;
}

.login__btn {
  min-width: 200px;
}

.login__header {
  width: 100%;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

.login__prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  display: block;
  width: 30px;
}

.login__prev svg,
.login__prev img {
  max-width: 100%;
}

.login__phone {
  margin: 0 0 30px 0;
}

.login__form {
  width: 100%;
}

.title-login {
  font-weight: 700;
}

.title-login_big {
  font-size: 36px;
  max-width: 350px;
  margin: 0 auto 30px;
}

.title-login_bold {
  font-weight: 800;
}

.desc-login {
  max-width: 295px;
  margin: 0 auto 30px;
  font-size: 17px;
}

.desc-login_small {
  font-size: 15px;
  text-align: left;
}

.desc-login_bold {
  font-weight: 700;
}

.desc-login_gray {
  color: #f5f5f5;
}

.desc-login_left {
  text-align: left;
}

.desc-login_mt {
  margin-top: 40px;
}