@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/Arial-Black.woff") format("woff"), url("../fonts/Arial-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/Arial-Bold.woff") format("woff"), url("../fonts/Arial-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/Arial-Reg.woff") format("woff"), url("../fonts/Arial-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Arial";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Arial";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #262626;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
}

.btn {
  display: inline-block;
  background-color: #64CB00;
  border-radius: 25px;
  padding: 12px 30px;
  color: #262626;
}

.btn_bold {
  font-weight: 800;
}

.input {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 14px;
}

.input button,
.input input {
  background: transparent;
}

.input__name {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-weight: 800;
  font-size: 13px;
  margin-right: 10px;
}

.input__input {
  width: 100%;
  border: 0;
  color: #262626;
}

.search__icon {
  width: 20px;
  margin-right: 10px;
}

.search__icon svg,
.search__icon img {
  max-width: 100%;
}

.arrows__arrow {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.8);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 5;
}

.arrows__arrow svg {
  max-width: 100%;
}

.arrows__arrow.slick-disabled {
  opacity: 0;
  pointer-events: none;
}

.arrows__prev {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 13px;
}

.arrows__next {
  right: 13px;
}

.form-login__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

.form-login__file-upload {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin: 0px 20px 0px 0px;
}

.form-login__file-upload svg {
  max-width: 100%;
}

.form-login__file-upload input {
  display: none;
}

.form-login__inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-login__input {
  margin: 0px 0px 10px 0px;
}

.form-login__input::-webkit-input-placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input::-moz-placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input:-ms-input-placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input::-ms-input-placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input::placeholder {
  color: #f5f5f5;
  font-weight: 800;
}

.form-login__input:last-child {
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 49;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  z-index: 51;
}

.header__logo img,
.header__logo svg {
  max-width: 100%;
}

.header__login {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  z-index: 51;
}

.icon-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 51;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #262626;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.icon-menu.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

.menu__header {
  width: 100%;
  margin: 0px 0px 20px 0px;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__title {
  font-weight: 800;
  margin: 0 auto;
}

.menu__body {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 20px 0 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  overflow: auto;
  z-index: 52;
}

.menu__body.active {
  top: 0;
}

.menu__list {
  width: 100%;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 80px 0px;
  padding: 0px 15px;
}

.menu__list li {
  position: relative;
  margin: 0px 0px 20px 0px;
}

.menu__list li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  background: url(../img/icons/arrow-next.svg) center no-repeat;
  background-size: cover;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}

.menu__cat-icon {
  width: 30px;
  margin-right: 10px;
}

.menu__cat-icon svg,
.menu__cat-icon img {
  max-width: 100%;
}

.menu__cat-icon svg path,
.menu__cat-icon svg rect {
  fill: #64CB00;
}

.menu__link {
  font-weight: 800;
  font-size: 16px;
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.login-header__icon svg path,
.login-header__icon img path {
  fill: #262626;
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 110px 0 30px 0;
}

.hero__list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 80px 0px;
}

.hero__list li {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.hero__link {
  font-weight: 800;
  font-size: 36px;
  color: #262626;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hero__btn {
  margin: 0 auto;
}

@media (min-width: 767.98px) {
  .menu__list li {
    text-align: center;
  }

  .menu__link:hover {
    color: #5d5d5d;
  }

  .hero__link:hover {
    color: #5d5d5d;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}